.page-read-confirmations-another-version-popup {
	text-align: center;
}

.page-read-confirmations-another-version-popup .oo-ui-buttonWidget a {
	color: var( --color-inverted-fixed, #fff ) !important;
	margin: 4px 0 0 0;
}
