.ext-page-read-confirmations-actions {
  margin-left: auto;
}

.page-read-confirmations-confirmed-label {
  color: var(--color-success, #28a745);
}

.page-read-confirmations-requested-another-label a {
  color: var(--color-progressive, #0078d4) !important;
}